.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin: auto;
    height: 200px;
    position: sticky;
}


.logo {
    display: flex;
    justify-content: center;
    
}



.headerMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 10px; */
   

}

.headerMenuLinks a {
    display: inline-block;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 500;
    color: black;
    margin: 0 20px;
}

.headerMenu a:hover {
    color:blueviolet;
}



.profile {
    display: flex;
    padding-right: 20px;
    padding-bottom: 10px;
    /* margin-bottom: 50px; */
}


.userProfile {
    font-family: Montserrat;
    display: flex;
    justify-content: right;
    

}

.menu li {
    margin: 10px 10px;
}
  
  .menu-trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
  }
  
  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }
  
  .menu-trigger img {
    border-radius: 90px;
    width: 50px;
  }
  
  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 85px;
    right: 0;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    padding-top: 0;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    padding-top: 0;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }