
 .postImageWrapper{
    height: 450px;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    

}

.postImageWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spanPosts{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.postsFirestore{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
